.container{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    margin:40px;
}

.column{
    width:30%;
    padding:20px;
    border-right:4px solid green;
}

.column:last-child{
    border-right:none;
}

h1,h2{
    font-family:Arial;
}

h3{
    margin-bottom:5px;
}