.card{

width:250px;

padding:20px;

border-radius:10px;

box-shadow:0 0 8px gray;

margin:15px;

text-align:center;

background:white;

}

button{

margin-top:15px;

padding:8px 18px;

background:#1976d2;

color:white;

border:none;

cursor:pointer;

}
.available{

color:green;

font-weight:bold;

}

.closed{

color:red;

font-weight:bold;

}